body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

#root {
  width: 1000px;
  padding: 10px 0;
}

.ticket-notice {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 20px;
  object-fit: contain;
  cursor: pointer;
}

.ticket-notice.active {
  background-image: url('../img/change.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

.ticket-edit {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  background-image: url('../img/pencil.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  cursor: pointer;
}

.ticket-delete {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url('../img/delete.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  cursor: pointer;
}

.ticket-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  height: auto;
  margin-top: 5px; 
  padding: 10px;
}

.item {
  flex: 1;
}

.item-title {
  flex: 3;
  cursor: pointer;
}

.item-date {
  text-align: right;
  flex: 2;
}

.item-controls {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.add-ticket {
  display: flex;
  justify-content: right;
}

.btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  border: 1px solid black;
  margin: auto;
  margin-top: 100px;
}

.modal-header {
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.text-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.modal input, .modal textarea {
  padding: 5px;
  border-radius: 5px;
}

.modal .btn {
  margin-left: 10px;
}
